* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(/images/med1.jpg);
    background-position: center;
   /* background-attachment: fixed; */
    background-size: cover;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20rem;
    background-color: rgb(223, 219, 219);
    padding: 1rem;

}

nav span {
    font-weight: bolder;
    font-size: xx-large;
    display: flex;
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.nav-bar li {
    list-style: none;
}

.nav-bar li:hover {
    border-bottom: 2px solid rgb(26, 162, 196);
}

header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.sec-title {
    margin-left: 13%;
}

.title-head {
    color: rgb(114, 114, 187);
    margin-top: 40px;
}

.title-bar {
    display: flex;
    color: black;
    flex-direction: column;
    height: 50%;
    width: 50%;
    font-size: xxx-large;
    color: rgb(220, 238, 240);
    padding-top: 20px;
}

.sec-title p {
    padding-top: 20px;
    font-size: large;
    line-height: 30px;
    color: rgba(2, 2, 2, 0.856);
    font-family: 'Times New Roman', Times, serif;
}

.sec-title button {
    background-color: rgb(35, 71, 126);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgba(208, 208, 208, 0.783);
    width: 15rem;
    margin-top: 20px;
}

.sec-title button:hover {
    background-color: rgb(26, 162, 196);
    transition: 0.5s;
}

.sec-title button a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.about {
    display: flex;
    justify-content: center;
    align-items: justify;
    margin: 40px 20px 100px;
    height: 70vh;
}

.about img {
    width: 50%;
    height: 100%;
    margin-top: 40px;
}

.about-text{
    margin-left: 50px;
    padding-left: 30px;

}

.about p {
    width: 100%;
    padding: 5px;
    font-size: large;
    color: rgba(2, 2, 2, 0.856);
    font-family: 'Times New Roman', Times, serif;
}

.about h1 {
    columns: 10px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
 
}

.about h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}